.board_list_header {
    display: grid;
    grid-template-columns: 75% 15% 10%;
    padding-bottom: 5px;
    border-bottom: 1px solid #5E5E5EFF;
    color: #5E5E5EFF;
}

.author_header {
    text-align: center;
}

.create_date_header {
    text-align: center;
}

.board_list_body_empty {
    margin: 30px 0;
    text-align: center;
}

.board_list_body {
    padding-top: 5px;
}

.board_list_body_contents {
    display: grid;
    grid-template-columns: 75% 15% 10%;
}

.author_body {
    text-align: center;
}

.create_date_body {
    text-align: center;
}