.footer_app {
    margin: 30px auto;
    text-align: center;
}

.footer_search_select_box {
    display: inline-block !important;
    width: 100px !important;
}

.footer_search_text {
    display: inline-block !important;
    width: 400px !important;
    margin-left: 5px;
}

.footer_search_btn {
    margin-left: 5px;
}